:root{
    --cor0: #FFFFFF;
    --cor1: #c9c9c9;
    --cor2: #b9b9b9;
    --cor3: #888888;
    --cor4: #5a5a5a;
    --cor5: #272727;
    --cor6: #b3b3b3;
    --cor7: #d6d6d6;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--cor6);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor4);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor5);
  }

html{
    scroll-behavior: smooth;
}
.autoDesejo{
    margin: 0px;
    padding-top: 10px;
    font-size: 30px;

}
.autoDesejo2{
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 30pt;

}
p{margin:0px;}
body{
    font-family: arial;
    font-size: 20pt;
    background-color: var(--cor0);
}
.botao1{
    width: 87%;
    background-color: var(--cor1);
    border-width: 1;
    font-size: 30pt;
    margin-top: 15px;
    margin-bottom: 15px;
    border: black 0px;
    height: 80px;
}
.botao2{
    display: block;
    margin: 0 auto;
    width: 75%;
    background-color: var(--cor2);
    border-width: 1;
    font-size: 30pt;
    margin-bottom: 30px;
    border: black 0px;
    height: 80px;
}
.caixaProd{
    margin: 5px;
    width: 260px;
    min-width: 260px;
    height: 100%;
    background-color: var(--cor0);
    padding: 5px;

    
}
.capaMonges{
    height: 90%;
    max-width: 95%;
    display: block;
    margin: auto auto;
    margin-top: 10px;
}
.cardMudar{
    font-size: 30pt;
    width: 80px;
    height: 80px;
    
}
.cardMudarMaior{
    font-size: 30pt;
    width: 90px;
    height: 80px;
    
}
.cardApagar{
    font-size: 30pt;
    width: 200px;
    height: 80px;
}
.cardDesejo{
    background-color: #ffffff;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
}
.cardDesejo button{
    background-color: var(--cor3);
    border: 0px solid black;
    color: black;
}
.cardDesejoTitulo{
    font-weight: bolder;
    font-size: 30px;
}

.carrinhoMini{
    background-color: var(--cor5);
    width: 10%;
    padding: 10px 0;
    position: fixed;
    margin-top: 300px;
    margin-left: 89%;
    border-radius: 8px 0px 0px 8px;

}
#conteudoConfirmaDados div{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.confirmaConteudo{
    text-align: center;
}
.confirmaLabels{

    display: block;
    text-align: center;
    color: white;
    width: 100%;
}
.confirmaInputs{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 80%;
    font-size: 20pt;
}
.confirmaInputsObs{
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 80%;
    text-align: initial;
    font-size: 20pt;
}
.destaquesAnuncio{
    width: 80%;
    display: block;
    padding-top: 330px;
    margin-bottom: -400px;
    margin-left: 4%;
}
#destaqueBox{
    visibility: hidden;
}
.destaques{
    /*box-shadow: 5px -10px 10px rgba(0,0,0,.5);*/
    background-color: var(--cor2);
    height: 30%;
    width: 87%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-x: scroll;
}
.imgCarrinho{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.imagemProd{
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    height: 160px;
    width: 160px;
    margin-bottom: 20px;
}
#listaCarrinho{
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    width: 77%;
    height: 45%;
    background-color: var(--cor2);
    overflow-y: hidden;
    overflow-y: scroll;
    overflow-x: inherit;
}
.principal{
    width: 100%;
}

.cabecalhoSite{
    background-color: #FFC800;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    height: 333px;
}
#paginaConfirmaDados{
    margin-top: 300px;
    position: fixed;
    background-color: var(--cor5);
    width: 100%;
    height: calc(100vh - 333px);
    visibility: hidden;
   
}
#paginaConfirmaCascos{
    margin-top: 300px;
    display: block;
    position: fixed;
    height: calc(100vh - 333px);
    width: 94%;
    background-color: var(--cor4);
    padding: 3%;
    text-align: center;
    visibility: hidden;
}
#paginaConfirmaCascos h2{
    color: white;
}
#card{
    text-align: center;
    margin-top: 300px;
    width: 100%;
    height: calc(100vh - 333px);
    position: fixed;
    background-color: var(--cor5);
    visibility: hidden;
}
.paginaProdutos{
    margin-top: 300px;
    background-color: var(--cor2);
    position: fixed;
    width: 100%;
    height: calc(100vh - 333px);
    visibility: hidden;
    overflow-y: hidden;
    overflow-y: scroll;
    
}
textarea{
    resize:none;
}
.tituloTema{
    width: 87%;
    text-align: center;
}
.tituloTema2{
    font-size: 30pt;
    color: rgb(182, 182, 182);
    text-align: center;
    width: 100%;
}
.tituloProd{
    vertical-align: auto;
    margin: 0;
    text-align: center;
    font-size: 25pt;
    width: auto;
    font-weight: normal;
    height: 138px;
    word-wrap: break-word;
}
.valorProd{
    text-align: center;
    margin: 0;
    font-size: 32pt;
}
#voltar{
    display: block;
}
.hiddenP{
    visibility: hidden;
    height: 0px;
}

