:root{
    --cor0: #FFFFFF;
    --cor1: #c9c9c9;
    --cor2: #b9b9b9;
    --cor3: #888888;
    --cor4: #5a5a5a;
    --cor5: #272727;
    --cor6: #b3b3b3;
    --cor7: #d6d6d6;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--cor6);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor7);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor2);
  }

html{
    scroll-behavior: smooth;
}
.autoDesejo{
    margin: 0px;
    padding-top: 10px;
    font-size: 30px;

}
.autoDesejo2{
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 30pt;

}
p{margin:0px;}
body{
    font-family: arial;
    font-size: 20pt;
    background-color: var(--cor0);
}
.botao1{
    width: 100%;
    background-color: var(--cor2);
    border-width: 1;
    font-size: 30pt;
    margin-bottom: 30px;
    border: black 0px;
    height: 80px;
}
.botao2{
    display: block;
    margin: 0 auto;
    width: 75%;
    background-color: var(--cor2);
    border-width: 1;
    font-size: 30pt;
    margin-bottom: 30px;
    border: black 0px;
    height: 80px;
}
.caixaProd{
    margin: 5px;
    width: 250px;
    min-width: 250px;
    height: 100%;
    background-color: var(--cor0);
    padding: 5px;

    
}
.capaMonges{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.cabecalhoSite{
    background-color: #FFC800;
    padding: 10px 5px;
    position: fixed;
    padding: px;
    margin-top: -10px;
}
.cardMudar{
    font-size: 30pt;
    width: 50px;
    
}
.cardMudarMaior{
    font-size: 30pt;
    width: 90px;
    
}
.cardApagar{
    font-size: 30pt;
    width: 200px;
}
.cardDesejo{
    background-color: #ffffff;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
}
.cardDesejoTitulo{
    font-weight: bolder;
    font-size: 30px;
}
#card{
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--cor5);
    visibility: hidden;
}
.carrinhoMini{
    background-color: var(--cor5);
    width: 10%;
    padding: 10px 0;
    position: fixed;
    margin-top: 50px;
    margin-left: 89%;
    border-radius: 8px 0px 0px 8px;

}
.destaquesAnuncio{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: -400px;
}
#destaqueBox{
    visibility: hidden;
}
.destaques{
    box-shadow: 5px -10px 10px rgba(0,0,0,.5);
    background-color: var(--cor3);
    height: 30%;
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-x: scroll;
}
.imgCarrinho{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.imagemProd{
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    height: 160px;
    width: 160px;
    margin-bottom: 20px;
}
#listaCarrinho{
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    width: 77%;
    height: 45%;
    background-color: var(--cor2);
    overflow-y: hidden;
    overflow-y: scroll;
    overflow-x: inherit;
}
main{
    padding-top: 32%;
}
.principal{
    width: 87%;
}
.paginaProdutos{
    margin-top: 1%;
    background-color: var(--cor0);
    position: fixed;
    width: 87%;
    height: 75%;
    visibility: hidden;
    margin-top: -10px;
    overflow-y: hidden;
    overflow-y: scroll;
    
}
.tituloTema{
    text-align: center;
}
.tituloProd{
    vertical-align: auto;
    margin: 0;
    text-align: center;
    font-size: 27pt;
    width: auto;
    font-weight: normal;
    height: 138px;
}
.valorProd{
    text-align: center;
    margin: 0;
    font-size: 32pt;
}
#voltar{
    display: block;
    margin: 10px auto;
}
.hiddenP{
    visibility: hidden;
    height: 0px;
}

